---
layout: default
script: "/assets/js/pizza.js"
image: /assets/images/pizza-cover.png
---
<div class="margin-bottom--l">
    <h1>Pizzas</h1>
    <div class="color-text--secondary text-transform--uppercase margin-bottom--m">
        {% assign pizza_count = 0 %}
        {% for pizza in site.pizzas %}
        {% assign pizza_count = pizza_count | plus: pizza.pies %}
        {% endfor %}
        Total Pies: {{ pizza_count }}
    </div>
    <p>
        I love making pizza. Since getting a <a href="https://ooni.com/products/ooni-koda">city-friendly pizza oven</a>
        I've been making about a dozen pies a month and taking notes along the way. I have a long way to go but I'm
        pretty happy with progress so far.
    </p>
    <p>Inspiration comes from my favorite pizza spots in SF (<a href="http://www.thepizzahacker.com/">PizzaHacker</a>,
        <a href="https://www.flourandwaterpizzeria.com/">Flour+Water</a>,
        <a href="https://piccino.com/">Piccino</a>) and the world (<a href="http://www.pizzeriabianco.com/">Pizzeria
            Bianco</a>, <a href="http://www.unapizza.com/">Una Pizza Napoletana</a>, <a
            href="https://www.pizzeriabeddia.com/">Pizzeria Beddia</a>).</p>
</div>

{% assign pizzas = site.pizzas | sort: 'date' | reverse %}

<div class="pizza-gallery">
    {% for pizza in pizzas %}
    {% for image in pizza.images %}
    {% assign image_id = image | split: "/" | last %}
    <picture data-id="{{ image_id }}" class="pizza-gallery-photo line-height--0 cursor--zoom-in">
        <source srcset="{{ image }}@thumb.webp" type="image/webp">
        <img loading="lazy" src="{{ image }}@thumb" />
    </picture>
    {% endfor %}
    {% endfor %}
</div>

<div class="pizza-overlay hidden">
    <a href="#" class="close-button">×</a>
    <div class="pizza-list">
        {% for pizza in pizzas %}
        {% assign date_format = "%Y-%m-%d" %}
        <div id="{{ pizza.date | date: date_format }}" class="margin-bottom--xl">
            {% if pizza.images %}
            <div class="pizza-carousel">
                {% for image in pizza.images %}
                {% assign image_id = image | split: "/" | last %}
                <picture id={{ image_id }} class="pizza-carousel-photo line-height--0">
                    <source srcset="{{ image }}@thumb.webp 320w, {{ image }}.webp" type="image/webp">
                    <source srcset="{{ image }}@thumb.jpg 320w, {{ image }}.jpg" type="image/jpg">
                    <img loading="lazy" src="{{ image }}.jpg" />
                </picture>
                {% endfor %}
            </div>
            {% endif %}
            <div class="pizza-text">
                <div class="flex-spaced-centered">
                    <a class="font-weight--bold" href="#{{ pizza.date | date: date_format }}">
                        <time>
                            {{ pizza.date | date: date_format }}
                        </time>
                    </a>
                    {% if pizza.images.size > 1 %}
                    <div class="indicator">
                        {% for image in pizza.images %}
                        <div class="indicator-dot {% if forloop.first == true %}indicator-dot--active{% endif %}"></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {{ pizza.content }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>