/* Variables */
/* ----------------------------------------------------- */

@font-face {
  font-family: "Bookmania-Semibold";
  src: url("/assets/fonts/font-subset.woff2") format("woff2"),
    url("/assets/fonts/font-subset.woff") format("woff");
}

:root {
  --color-bg: #fffdf2;
  --color-bg--dark: #27261f;
  --color-accent: #487334;
  --color-accent--dark: #5f9945;
  --color-tap-highlight: rgba(72, 115, 52, 0.1);
  --color-text-primary: #393939;
  --color-text-primary--dark: #e3e1d4;
  --color-text-secondary: #7f7e79;
  --color-text-secondary--dark: #939188;
  --color-border: #e5e3da;
  --color-border--dark: #5d5c54;

  --font-serif: "Bookmania-Semibold", "Georgia", serif;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;

  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --container-width: 660px;
  --container-margin: calc(var(--spacing-s) + var(--spacing-m));
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-bg--dark);
    --color-accent: var(--color-accent--dark);
    --color-text-primary: var(--color-text-primary--dark);
    --color-text-secondary: var(--color-text-secondary--dark);
    --color-border: var(--coloar-border--drk);
  }
}

/* Base Styles */
/* ----------------------------------------------------- */

body {
  background: var(--color-bg);
  font-family: var(--font-sans);
  line-height: 1.5;
  letter-spacing: -0.011em;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text-primary);
  box-sizing: border-box;
  -webkit-tap-highlight-color: var(--color-tap-highlight);
}

@media only screen and (min-width: 692px) {
  body {
    font-size: 1.15em;
    letter-spacing: -0.014em;
    line-height: 1.6;
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

img {
  width: 100%;
}

blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: var(--spacing-l);
  padding-inline-end: var(--spacing-l);
  border-left: 3px solid var(--color-border);
}

hr {
  width: 33%;
  border: 0;
  height: 1px;
  background: var(
    --color-border--dark
  ); /* Used only on pizza log, so OK for now */
}

/* Type */
/* ----------------------------------------------------- */

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  letter-spacing: 0em;
  font-weight: 500;
}

h1 {
  font-size: 2em;
  margin: var(--spacing-l) 0 var(--spacing-m);
  line-height: 1.3;
}

h2 {
  font-size: 1.5em;
  margin: var(--spacing-l) 0 0;
}

h3 {
  font-size: 1.25em;
  margin-bottom: var(--spacing-s);
}

h4 {
  font-size: 1.15em;
  margin: var(--spacing-l) 0 var(--spacing-s);
}

/* Utility Classes */
/* ----------------------------------------------------- */

.color-text--primary {
  color: var(--color-text-primary);
}

.color-text--secondary {
  color: var(--color-text-secondary);
}

.color--inherit {
  color: inherit;
}

.text-transform--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.font-weight--bold {
  font-weight: bold;
}

.display--block {
  display: block;
}

.line-height--0 {
  line-height: 0;
}

.cursor--zoom-in {
  cursor: zoom-in;
}

.border--bottom {
  border-bottom: 1px solid var(--color-border);
}

.flex-spaced-centered {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hidden {
  display: none !important;
}

.link-with-spacing {
  padding: var(--spacing-m);
  margin-left: calc(var(--spacing-m) * -1);
}

.link-arrow {
  display: inline-block;
  transition: transform 0.2s;
}

a:hover .link-arrow {
  transform: translateX(3px);
}

.margin-top--xs {
  margin-top: var(--spacing-xs);
}
.margin-top--s {
  margin-top: var(--spacing-s);
}
.margin-top--m {
  margin-top: var(--spacing-m);
}
.margin-top--l {
  margin-top: var(--spacing-l);
}
.margin-top--xl {
  margin-top: var(--spacing-xl);
}

.margin-bottom--xs {
  margin-bottom: var(--spacing-xs);
}
.margin-bottom--s {
  margin-bottom: var(--spacing-s);
}
.margin-bottom--m {
  margin-bottom: var(--spacing-m);
}
.margin-bottom--l {
  margin-bottom: var(--spacing-l);
}
.margin-bottom--xl {
  margin-bottom: var(--spacing-xl);
}

.padding-top--xs {
  padding-top: var(--spacing-xs);
}
.padding-top--s {
  padding-top: var(--spacing-s);
}
.padding-top--m {
  padding-top: var(--spacing-m);
}
.padding-top--l {
  padding-top: var(--spacing-l);
}
.padding-top--xl {
  padding-top: var(--spacing-xl);
}

.padding-bottom--xs {
  padding-bottom: var(--spacing-xs);
}
.padding-bottom--s {
  padding-bottom: var(--spacing-s);
}
.padding-bottom--m {
  padding-bottom: var(--spacing-m);
}
.padding-bottom--l {
  padding-bottom: var(--spacing-l);
}
.padding-bottom--xl {
  padding-bottom: var(--spacing-xl);
}

.margin-right--nm {
  margin-right: calc(var(--spacing-m) * -1);
}

/* Element-specific */
/* ----------------------------------------------------- */

.container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: var(--spacing-m) var(--container-margin);
}

@media only screen and (min-width: 692px) {
  .container {
    width: calc(var(--container-width) + var(--spacing-l));
  }
}

.logo {
  display: block;
  width: 5.8125em; /* 93px */
  height: 2.25em; /* 36px */
  fill: var(--color-text-primary);
}

.logo-linked:hover {
  fill: var(--color-accent);
}

.logo-home {
  width: 11.25em; /* 180px */
  height: 4.375em; /* 70px */
}

/* Gross but the only way to fit Twitter/Email info on one line on phones */
@media only screen and (max-width: 320px) {
  .contact-info {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 410px) {
  .contact-info {
    font-size: 0.9em;
  }
}

footer {
  border-top: 1px solid var(--color-border);
  display: flex;
}

.profile-photo {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin-right: var(--spacing-l);
}

/* Pizza Log */
/* ----------------------------------------------------- */

.pizza-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

@media only screen and (max-width: 692px) {
  .pizza-gallery {
    margin: 0 calc(var(--container-margin) * -1);
  }
}

.pizza-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-bg--dark);
  color: var(--color-text-primary--dark);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.pizza-overlay a {
  color: var(--color-text-primary--dark);
}

.close-button {
  position: fixed;
  top: var(--spacing-m);
  left: var(--spacing-m);
  background: rgba(39, 38, 31, 0.9);
  font-size: 32px;
  height: 44px;
  width: 44px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 22px;
  z-index: 1;
}

.close-button:hover {
  color: var(--color-text-secondary--dark);
}

.pizza-carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  margin: 0 auto var(--spacing-m);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  max-width: var(--container-width);
}

.pizza-carousel::-webkit-scrollbar {
  display: none;
}

.pizza-carousel-photo {
  min-width: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.indicator {
  display: flex;
}

.indicator-dot {
  width: 8px;
  height: 8px;
  background-color: var(--color-text-secondary--dark);
  border-radius: 4px;
  margin-right: var(--spacing-xs);
}

.indicator-dot--active {
  background-color: var(--color-accent--dark);
}

.pizza-text {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 var(--container-margin);
}

@media only screen and (min-width: 692px) {
  .pizza-text {
    width: var(--container-width);
    padding: 0;
  }
}
