---
layout: default
---
<div class="margin-bottom--xl">
    <p>I’m Jackson Mohsenin, a product/design person based in San Francisco. A lot of folks call me jmo.</p>

    <p>I work at <a href="https://watershed.com">Watershed</a>, specifically on our climate methodologies & calculation systems.</p>

    <p>Previously, I spent six years at <a href="https://quora.com">Quora</a> in design management and product leadership.</p>

    <p>My writing here is mainly about emergent problems I've wrestled with working on social products like Quora.</p>

    <p>Say hi:</p>
    <p class="color-text--secondary contact-info">
        <a class="color--inherit text-transform--uppercase" href="mailto:jmohsenin@gmail.com">jmohsenin@gmail.com</a>
    </p>
</div>
<div class="margin-bottom--xl">
    <h2>Favorite Posts</h2>
    {% assign featured_posts = site.posts | where: "featured", true %}
    {% for post in featured_posts %}
    <a class="display--block color-text--primary" href="{{ post.url }}">
        <h4>
            {{ post.title | escape }}
        </h4>
        {{ post.description }}
    </a>
    {% endfor %}
    <div class=" padding-top--l">
        <a class="link-with-spacing" href={% link posts.html %}>All Posts <span class="link-arrow">→</span></a>
    </div>
</div>
<div class="margin-bottom--l">
    <h2 class="margin-bottom--m">Pizza</h2>
    <a href={% link pizza.html %}>
        {% assign pizza_preview = "
        assets/images/pizzas/2021-01-09--1,
        assets/images/pizzas/2021-02-14--05,
        assets/images/pizzas/2020-10-30--1,
        assets/images/pizzas/2020-10-10--2,
        assets/images/pizzas/2020-10-03--1,
        assets/images/pizzas/2020-10-10--4" | split: ","
        %}

        {% assign pizza = site.pizzas | where:"id", page.pizza-id | last %}
        <div class="pizza-gallery margin-bottom--l">
            {% for image in pizza_preview limit: 6 %}
            <picture class="line-height--0">
                <source srcset="{{ image }}@thumb.webp" type="image/webp">
                <img loading="lazy" src="{{ image }}@thumb.jpg" />
            </picture>
            {% endfor %}
        </div>
    </a>
    <div class="margin-top--l">
        <a class="link-with-spacing" href={% link pizza.html %}>All Pies <span class="link-arrow">→</span></a>
    </div>
</div>