---
layout: default
---
<div class="margin-bottom--l">
<p>Hi I’m Jackson Mohsenin, a software designer based in San Francisco. A lot of folks call me JMO.</p>

<p>I recently spent six years designing at Quora, where I got to integrate design and code in a day-to-day role,
    drive major parts of company strategy, and manage a wonderful team of designers.</p>

<p>Now I’m tinkering on personal projects, working with early-stage startups on design and strategy, and writing about
    the interplay between design, machine learning, and social systems.</p>

<p>Say hi if you’re interested in working together:</p>
<p class="color-text--secondary contact-info">
    <a class="color--inherit text-transform--uppercase" 
        href="https://twitter.com/jmohsenin">@jmohsenin</a> • 
    <a class="color--inherit text-transform--uppercase"
        href="mailto:jmohsenin@gmail.com">jmohsenin@gmail.com</a></p>
</div>
<div class="margin-bottom--l">
    <h2>Favorites</h2>
    {% assign featured_posts = site.posts | where: "featured", true %}
    {% for post in featured_posts  %}
        <div>
            <h3><a class="color-text--primary" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a></h3>
            {{ post.description }}
        </div>
    {% endfor %}
</div>
<div class="margin-bottom--l">
    <h2>Recent Posts</h2>
    {% for post in site.posts limit:3 %}
        <div>
            <h3><a class="color-text--primary" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a></h3>
            {% assign date_format = "%B %e, %Y" %}
            {{ post.date | date: date_format }}
        </div>
    {% endfor %}
</div>
<div class="margin-bottom--l">
    <a class="more-link" href={% link posts.html %}>All Posts <span class="link-arrow">→</span></a>
</div>
