---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name">{{ page.title | escape }}</h1>
    </header>

    <div itemprop="articleBody">
        {{ content }}
    </div>

    <div class="color-text--secondary margin-top--l">
        <div><time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
            {% assign date_format = "%B %e, %Y" %}
            Published: {{ page.created | date: date_format }}
        </time></div>
        {% if page.updated %}
        <div><time itemprop="dateModified" datetime="{{ page.date | date_to_xmlschema }}">
            {% assign date_format = "%B %e, %Y" %}
            Updated: {{ page.updated | date: date_format }}
        </time></div>
        {% endif %}
    </div>
    
    {% include footer.html %}
</article>